.App {
  text-align: center;
}

.header {
  display:grid;
  grid-template-columns: auto min-content;
  grid-area: title account;
  border: thin solid black;
}

.header h1 {
  text-align: left;
  margin: 10px;
}

.header a {
  margin: 10px;
}