.App {
  text-align: center;
}

/*---------------------------------------------------------*/
/* Header                                                   */

.header {
  display:grid;
  grid-template-columns: auto min-content;
  grid-area: title account;
  border: thin solid black;
}

.header h1 {
  text-align: left;
  margin: 10px;
}

.header a {
  margin: 10px;
}


/*---------------------------------------------------------*/
/* Search Bar                                              */

.search-bar {
  display:flex;
  align-items: center;
  justify-content: center;
  border: thin solid black;
  margin-top: 3px;
  padding: 3px;
}

.search-bar select {
  margin-right: 10px;
  margin-left: 2px;
  padding: 3px;
}

/*---------------------------------------------------------*/
/* DisplayArticles  (multiple)                             */

.article__link {
  text-decoration: none;
  color: black;
}

.article-thumbnail {
  border: thin solid black;
  padding: 5px;
  margin:2px;
  display: grid;
  grid-template-columns: auto 70px;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    'title author'
    'content content'
    'comments votes';
  color:black;
}

.article-thumbnail__body {
  grid-area: content;
  height: 150px;
  text-overflow: ellipsis;
  overflow:hidden;
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%)
  
}
 
.article-thumbnail__author {
  grid-area: author;
  font-size: 0.8em;

}

.article-thumbnail__votes {
  grid-area: votes;
}

.article-thumbnail__comment-count {
  grid-area: comments;
  text-align: left;
  padding-left: 10px;
}

/*---------------------------------------------------------*/
/* DisplayArticle (Single)                                 */

.article {
  border: thin solid black;
  padding: 5px;
  padding-bottom: 0px;;
  margin: 2px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    'title title'
    'author empty'
    'content content'
    'comments votes';
}

.article h3 {
  grid-area:title;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.article__body {
  grid-area: content;
  padding-bottom: 0px;
}

.article__author {
  grid-area: author;
  font-size: 0.8em;
  text-align: left;
  padding-left: 5px;
  padding-top: 0px;
  margin-top: 0px;
}

.article__votes {
  grid-area: votes;
  text-align: right;
  padding-right: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.article__votes p {
  display: inline;
  color: blue;
  padding-left: 5px;
}

.article__comment-count {
  grid-area: comments;
  text-align: left;
  padding-left: 10px;
  padding-bottom:0px;
}

.article--voted {
  color:crimson;
  background-color: grey;
}

.article--not-voted {
  color:rgb(97, 96, 96);
  background-color: whitesmoke;
}

/*---------------------------------------------------------*/
/* Add Comment                                             */

.add-comment {
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: min-content auto;
  grid-template-areas: 
    'label button'
    'textbox textbox';
  border: thin solid black;
}

.add-comment p {
  grid-area: label;
  text-align: left;
  padding-left: 10px;
}

.add-comment textarea {
  grid-area: textbox;
  margin: 10px;
  min-height: 80px;
}

.add-comment button {
  grid-area: button;
  margin: 10px;
}

/*---------------------------------------------------------*/
/* Comments                                                */

.comment {

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: 
    'body body'
    'author votes';
    border: thin solid black;
    margin: 5px;
}

.comment__body {
  grid-area: body;
  text-align: left;
  margin: 10px;
  background-color: rgb(235, 230, 230);
}

.comment__author {
  grid-area: author;
  text-align: left;
  margin-left: 10px;
}

.comment__votes {
  grid-area: votes;
  text-align: right;
  padding-right: 10px;
}

.comment__votes p {
  display:inline;
  padding: 5px;
}

/*---------------------------------------------------------*/
/* Login                                                   */

.login__main {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.login__form {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: auto auto min-content min-content;
  grid-template-areas: 
    'username-label username'
    'password-label password'
    'button button'
    'error error';
    border: thin solid black;
    width: 600px;
}

.login__form label {
  padding: 10px;
}

.login__form input {
  margin: 10px;
  padding: 10px;
}

/* .login__form-username-label {
  grid-area: username-label;
}

.login__form-username {
  grid-area: username;
}

.login__form-password-label {
  grid-area:password-label;
}

.login__form-password {
  grid-area: password;
}
*/

.login__form button {
  grid-area: button;
  width:60px;
  margin-left: 20px;
  text-align: center;
} 

.login__form-error {
  grid-area: error;
  height: 20px;
} 

